<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<script>
  <!-- Add `{:target="_blank" rel="noopener noreferrer"}` -->
  // https://stackoverflow.com/questions/807878/how-to-make-javascript-execute-after-page-load
  window.addEventListener("DOMContentLoaded", () => {
    // https://stackoverflow.com/questions/4425198/can-i-create-links-with-target-blank-in-markdown
    const links = document.links;
    for (const link of links) {
      if (link.hostname != window.location.hostname) {
        link.target = "_blank";
        link.rel = "noopener noreferrer";
      }
    }

    const searchParams = new URLSearchParams(window.location.search);
    const navTags = searchParams.get("nav")?.split(",").filter(tag => tag !== "") || [];

    if (navTags.length > 0) {
      for (const link of document.querySelectorAll(".nav__list a")) {
        const url = new URL(link.href);
        url.searchParams.set("nav", navTags.join(","));
        link.href = url.href;
      }
    }

    const tagsElements = document.querySelectorAll("[data-nav-tags]");
    const noTagsElements = document.querySelectorAll("[data-no-nav-tags]");

    for (const element of tagsElements) {
      if (!element.dataset.navTags.split(",").some(tag => navTags.includes(tag))) {
        element.style.display = "none";
      }
    }

    for (const element of noTagsElements) {
      if (element.dataset.noNavTags.split(",").some(tag => navTags.includes(tag))) {
        element.style.display = "none";
      }
    }

    const footnotes = document.querySelectorAll(".footnotes li p");
    for (const footnote of footnotes) {
      footnote.innerHTML = footnote.innerHTML.replace(/&nbsp;/g, " ");
    }
  });
</script>

{% if page.fullwidthtable != false %}
  <!-- Disable full width tables -->
  <style>
    /* full width table */
    table {
      width: 100%;
    }

    table th {
      width: 1%;
    }
  </style>
{% endif %}

{% if page.no-robots %}
  <!-- Stop robots -->
  <meta name="robots" content="noindex, nofollow">
{% endif %}
