<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<script>
  <!-- Add `{:target='_blank' rel='noopener noreferrer'}` -->
  // https://stackoverflow.com/questions/807878/how-to-make-javascript-execute-after-page-load
  window.addEventListener('load', () => {
    // https://stackoverflow.com/questions/4425198/can-i-create-links-with-target-blank-in-markdown/8000171
    let links = document.links;
    for (const link of links) {
      if (link.hostname != window.location.hostname) {
        link.target = '_blank';
        link.rel = 'noopener noreferrer';
      }
    }
  });
</script>

{% if page.fullwidthtable != false %}
  <!-- Disable full width tables -->
  <style>
    /* full width table */
    table {
      width: 100%;
    }

    table th {
      width: 1%;
    }
  </style>
{% endif %}

{% if page.no-robots %}
  <!-- Stop robots -->
  <meta name="robots" content="noindex, nofollow">
{% endif %}
