---
layout: single
---

<style>
  table td:nth-child(2) {
    text-align: center;
  }
</style>

<h1>{{ page.athlete }}</h1>

{% assign last-season-year = page.last-season-year | append: "" %}

{% assign swim-events = site.data.high-school.event-order.individual-swim-results %}
{% assign dive-events = site.data.high-school.event-order.overall-dive-results %}
{% assign dive-numbers = site.data.high-school.event-order.individual-dive-results %}

{% assign general-information = site.data.high-school.girls.graduates[last-season-year].general-information %}

{% assign file-name = page.athlete | downcase | replace: " ", "-" | replace: "'", "" %}
{% assign athlete-information = site.data.high-school.girls.graduates[last-season-year].information[file-name] %}

{% assign years = athlete-information.years-participated | default: general-information.years %}

{% assign dual-meet-wins = 0 %}
{% assign dual-meet-losses = 0 %}
{% for year in years %}
  {% assign dual-meets-for-year = general-information.dual-meets | where: "year", year | first %}
  {% assign dual-meet-wins = dual-meet-wins | plus: dual-meets-for-year.wins %}
  {% assign dual-meet-losses = dual-meet-losses | plus: dual-meets-for-year.losses %}
{% endfor %}



{% assign swims = site.data.high-school.girls.graduates[last-season-year].swims[file-name] %}

{% assign swims-individual-count = swims | filter_individual | size %}
{% assign swims-relay-count = swims | filter_relay | size %}

{% assign swims-count = swims | size %}

{% assign swims-points = swims | map: "points" | total %}

{% assign swims-first-place-finishes-count = swims | where: "place", 1 | size %}
{% assign swims-second-place-finishes-count = swims | where: "place", 2 | size %}
{% assign swims-third-place-finishes-count = swims | where: "place", 3 | size %}



{% assign dives-overall = site.data.high-school.girls.graduates[last-season-year].dives.overall[file-name] %}
{% assign dives-overall-count = dives-overall | size %}

{% assign dives-individual = site.data.high-school.girls.graduates[last-season-year].dives.individual[file-name] %}
{% assign dives-individual-count = dives-individual | size %}

{% assign dives-points = dives-overall | map: "points" | total %}

{% assign dives-first-place-finishes-count = dives-overall | where: "place", 1 | size %}
{% assign dives-second-place-finishes-count = dives-overall | where: "place", 2 | size %}
{% assign dives-third-place-finishes-count = dives-overall | where: "place", 3 | size %}



{% assign points-scored = swims-points | plus: dives-points %}
{% assign first-place-finishes-count = swims-first-place-finishes-count | plus: dives-first-place-finishes-count %}
{% assign second-place-finishes-count = swims-second-place-finishes-count | plus: dives-second-place-finishes-count %}
{% assign third-place-finishes-count = swims-third-place-finishes-count | plus: dives-third-place-finishes-count %}

<table>
  <thead>
    <tr>
      <th colspan="2">Overall Statistics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Years on the Team</td>
      <td>{{ years | size }}</td>
    </tr>
    <tr>
      <td>Dual Meet Wins</td>
      <td>{{ dual-meet-wins }}</td>
    </tr>
    <tr>
      <td>Dual Meet Losses</td>
      <td>{{ dual-meet-losses }}</td>
    </tr>
    {% if swims-individual-count > 0 %}
      <tr>
        <td>Individual Events Swam</td>
        <td>{{ swims-individual-count }}</td>
      </tr>
    {% endif %}
    {% if swims-relay-count > 0 %}
      <tr>
        <td>Relay Events Swam</td>
        <td>{{ swims-relay-count }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Points Scored</td>
      <td>{{ points-scored }}</td>
    </tr>
    {% if first-place-finishes-count > 0 %}
      <tr>
        <td>1<sup>st</sup> Place Finishes</td>
        <td>{{ first-place-finishes-count }}</td>
      </tr>
    {% endif %}
    {% if second-place-finishes-count > 0 %}
      <tr>
        <td>2<sup>nd</sup> Place Finishes</td>
        <td>{{ second-place-finishes-count }}</td>
      </tr>
    {% endif %}
    {% if third-place-finishes-count > 0 %}
      <tr>
        <td>3<sup>rd</sup> Place Finishes</td>
        <td>{{ third-place-finishes-count }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>

<h2>Data Files</h2>

<ul>
{% if swims-count > 0 %}
  <li>
    <a href="https://github.com/needhamswive/needhamswive.github.io/blob/master/_data/high-school/girls/graduates/{{ last-season-year }}/swims/{{ file-name }}.tsv">Swim Results</a>
  </li>
{% endif %}
{% if dives-overall-count > 0 %}
  <li>
    <a href="https://github.com/needhamswive/needhamswive.github.io/blob/master/_data/high-school/girls/graduates/{{ last-season-year }}/dives/overall/{{ file-name }}.tsv">Overall Dive Results</a>
  </li>
{% endif %}
{% if dives-individual-count > 0 %}
  <li>
    <a href="https://github.com/needhamswive/needhamswive.github.io/blob/master/_data/high-school/girls/graduates/{{ last-season-year }}/dives/individual/{{ file-name }}.tsv">Individual Dive Results</a>
  </li>
{% endif %}
</ul>

{% if swims-count > 0 %}
  <h2>Swimming</h2>

  <h3>Summary</h3>

  <table>
    <thead>
      <tr>
        <th colspan="2">Total Swims</th>
      </tr>
    </thead>
    <tbody>
      {% for event in swim-events %}
        {% assign swims-for-event = swims | where: "event", event %}
        {% if swims-for-event.size > 0 %}
          <tr>
            <td>{{ event }}</td>
            <td>{{ swims-for-event.size }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th colspan="2">Best Times</th>
      </tr>
    </thead>
    <tbody>
      {% for event in swim-events %}
        {% assign swims-for-event = swims | where: "event", event | map: "time" | compact | sort %}
        {% assign size = swims-for-event | size %}
        {% if size > 0 %}
          {% assign top-time = swims-for-event | first %}
          <tr>
            <td>{{ event }}</td>
            <td>{{ top-time | format_time }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h3>All Results</h3>

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Time</th>
        <th>Date</th>
        <th>Meet</th>
        <th>Splits</th>
        <th>DQ</th>
        <th>Sectionals Qualified</th>
        <th>States Qualified</th>
      </tr>
    </thead>
    <tbody>
      {% for event in swim-events %}
        {% assign swims-for-event = swims | where: "event", event %}
        {% for swim in swims-for-event %}
          <tr>
            <td>{{ swim.event | format_cell }}{% if swim.first-leg == "TRUE" %}*{% endif %}</td>
            <td>{{ swim.time | format_time }}</td>
            <td>{{ swim.date }}</td>
            <td>{{ swim.meet | format_cell }}</td>
            {% assign splits-string = "" %}
            {% assign splits = swim.splits | split: "/" %}
            {% for split in splits %}
              {% assign formatted-split = split | format_time %}
              {% assign splits-string = splits-string | append: formatted-split | append: "&nbsp;" %}
            {% endfor %}
            <td>{{ splits-string }}</td>
            <td style="text-align: center;">{% if swim.dq == "TRUE" %}x{% endif %}</td>
            <td style="text-align: center;">{% if swim.sectionals-qualifier == "TRUE" %}x{% endif %}</td>
            <td style="text-align: center;">{% if swim.states-qualifier == "TRUE" %}x{% endif %}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <sup>* First leg</sup>
{% endif %}

{% if dives-overall-count > 0 %}
  <h2>Diving</h2>

  <h3>Summary</h3>

  <h3>All Results</h3>

  <table>
    <thead>
      <tr>
        <th>Format</th>
        <th>Score</th>
        <th>Date</th>
        <th>Meet</th>
        <th>Sectionals Qualified</th>
        <th>States Qualified</th>
      </tr>
    </thead>
    <tbody>
      {% for event in dive-events %}
        {% assign dives-for-event = dives-overall | where: "event", event %}
        {% for dive in dives-for-event %}
          <tr>
            <td>{{ dive.event | format_cell }}{% if swim.first-leg == "TRUE" %}*{% endif %}</td>
            <td>{{ dive.score }}</td>
            <td>{{ dive.date }}</td>
            <td>{{ dive.meet | format_cell }}</td>
            <td style="text-align: center;">{% if dive.sectionals-qualifier == "TRUE" %}x{% endif %}</td>
            <td style="text-align: center;">{% if dive.states-qualifier == "TRUE" %}x{% endif %}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Dive Number</th>
        <th>Degree of Difficulty</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Score 3</th>
        <th>Score 4</th>
        <th>Score 5</th>
        <th>No Score</th>
        <th>Total Score</th>
        <th>Date</th>
        <th>Meet</th>
      </tr>
    </thead>
    <tbody>
      {% for dive-number in dive-numbers %}
        {% assign dives-for-number = dives-individual | where: "number", dive-number %}
        {% for dive in dives-for-number %}
          <tr>
            <td>{{ dive.number }}</td>
            <td>{{ dive.degree-of-difficulty }}</td>
            <td>{{ dive.score-1 }}</td>
            <td>{{ dive.score-2 }}</td>
            <td>{{ dive.score-3 }}</td>
            <td>{{ dive.score-4 }}</td>
            <td>{{ dive.score-5 }}</td>
            <td style="text-align: center;">{% if dive.no-score == "TRUE" %}x{% endif %}</td>
            <td>{{ dive.total-score }}</td>
            <td>{{ dive.date }}</td>
            <td>{{ dive.meet | format_cell }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
