---
title: NHS Girls Swive Grads Directory

school-years:
  - 2024-2025
  - 2023-2024
---

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for school-year in page.school-years %}

    {% assign graduation-year = school-year | slice: 5, 9 %}
    {% assign roster = site.data.high-school.girls.team-rosters | where: "school-year", school-year | first %}
    {% assign seniors = roster.students | where: "grade", 12 %}

    {% for senior in seniors %}

    {% assign name = senior.name %}
    <tr>
      <td>{{ graduation-year }}</td>
      <td><a href="/high-school/girls/graduates/{{ graduation-year }}/{{ name | downcase | replace: " ", "-" | replace: "'", "" }}">{{ name }}</a></td>
    </tr>

    {% endfor %}
    {% endfor %}
  </tbody>
</table>
