{% assign years = include.school-rankings | map: "year" | uniq | sort | reverse %}
{% assign divisions = include.school-rankings | map: "division" | uniq | sort %}

{% include filter-division-year.html
  divisions = divisions
  years = years %}

{% for year in years %}

<div class="filter-section" data-option="year" data-section="{{ year }}" markdown="1">

<h2>{{ year }}</h2>

{% assign school-rankings-for-year = include.school-rankings | where: "year", year | sort: "rank" %}
{% assign divisions = school-rankings-for-year | map: "division" | uniq | sort %}

{% for division in divisions %}

<div class="filter-section" data-option="division" data-section="{{ division }}" markdown="1">

<h3>{{ division }} </h3>

{% assign school-rankings-for-year-for-division = school-rankings-for-year | where: "division", division %}

{% include rankings.html
    rankings = school-rankings-for-year-for-division %}

</div>

{% endfor %}

</div>

{% endfor %}
