<form>
  {% for option in include.options %}
    {% assign key = option | downcase | append: "-sections" %}
    {% assign sections = include[key] %}
    <label for="select">{{ option }}</label>
    <select id="select-{{ option | downcase }}" class="select" name="{{ option | downcase }}">
      <option value="all">All</option>
      {% for section in sections %}
        <option value="{{ section }}">{{ section }}</option>
      {% endfor %}
    </select>
  {% endfor %}
</form>

<script>
  function change(option, visibleSection, updateHistory) {
    // https://stackoverflow.com/a/41542008
    const searchParams = new URLSearchParams(window.location.search);
    if (visibleSection === "all") {
      searchParams.delete(option);
    } else {
      searchParams.set(option, visibleSection);
    }

    let newRelativePathQuery;
    if (searchParams.toString() === "") {
      newRelativePathQuery = window.location.pathname;
    } else {
      newRelativePathQuery = window.location.pathname + "?" + searchParams.toString();
    }
    if (updateHistory) {
      history.pushState(null, "", newRelativePathQuery);
    }

    const sectionsToUpdate = sections.filter(section => option === section.dataset.option);

    if (visibleSection === "all") {
      for (const section of sectionsToUpdate) {
        section.style.display = "";
      }
    } else {
      for (const section of sectionsToUpdate) {
        if (visibleSection === section.dataset.section) {
          section.style.display = "";
        } else {
          section.style.display = "none";
        }
      }
    }
  }

  let sections = [];
  window.addEventListener("DOMContentLoaded", () => {
    sections = Array.from(document.getElementsByClassName("filter-section"));
    const selects = document.getElementsByClassName("select");

    Array.from(selects).forEach(select => {
      select.addEventListener("change", (event) => {
        change(select.name, select.value, true)
      });
    });

    const options = "{{ include.options | join: "," }}".split(",").map(option => option.toLowerCase());
    const sectionsByOption = {};
    {% for option in include.options %}
      {% assign key = option | downcase | append: "-sections" %}
      {% assign sections = include[key] %}
      sectionsByOption.{{ option | downcase }} = "{{ sections | join: "," }}".split(",");
    {% endfor %}
    const searchParams = new URLSearchParams(window.location.search);

    for (const option of options) {
      const section = searchParams.get(option);
      if (sectionsByOption[option].includes(section)) {
        change(option, section, false);

        Array.from(selects).filter(section => option === section.name)[0].value = section;
      }
    }
  }, false);
</script>
