{% assign rankings = include.rankings | sort: "place" %}

<table>
  <thead>
    <tr>
      <th>School</th>
      <th style="text-align: center;">Place</th>
      <th style="text-align: center;">Score</th>
    </tr>
  </thead>
  <tbody>
    {% for ranking in rankings %}
      <tr>
        <td>{{ ranking.school | format_cell }}</td>
        <td style="text-align: center;">{{ ranking.place }}</td>
        <td style="text-align: center;">{{ ranking.score }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
