{% assign record = include.records | first %}

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th style="text-align: center;">Date</th>
      {% if record.school %}
        <th>School</th>
      {% endif %}
      <th>Athlete(s)</th>
      <th style="text-align: center;">Result</th>
    </tr>
  </thead>
  <tbody>
    {% for event in include.events %}
      {% assign records-for-event = include.records | where: "event", event %}
      {% assign record = records-for-event[0] %}
      <tr>
        <td>{{ record.event | format_cell }}</td>
        <td style="text-align: center;">{{ record.date | format_cell }}</td>
        {% if record.school %}
          <td>{{ record.school | format_cell }}</td>
        {% endif %}
        <td>{{ record.name | format_cell }}</td>
        <td style="text-align: center;">{{ record.result | format_cell }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
