{% for school-year in include.school-years %}

{% assign pages-for-school-year = include.pages | where: "school-year", school-year %}

<div class="filter-section" data-option="year" data-section="{{ school-year }}">

<table>
  <thead>
    <th colspan="2" style="text-align: center;">{{ school-year }}</th>
  </thead>
  <tbody>
    {% for page in pages-for-school-year %}
      <tr>
        <td><a href="{{ page.source-url }}">{{ page.title }}</a></td>
        {% if page.archive-url %}
          <td><a href="{{ page.archive-url }}">archive</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endfor %}
