---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// #0c2141, #958b64

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

ul, ol {
  margin-top: 0em;
}

ul li, ol li {
  margin-bottom: 0.35em;
}
