---
---

* {
  --blue-1: rgb(232,248,255);
  --blue-2: rgb(165,215,239);
  --blue-3: rgb(76,144,186);
  --blue-4: rgb(16,59,82);
  --blue-5: rgb(8, 19, 26);

  --base: var(--blue-1);
  --base-background: var(--blue-5);
  --shadow: var(--blue-3);
  --hr: var(--blue-1);
  --meter-before: var(blue-1);
  --meter-after: var(blue-3);
  --rotate-1: var(--blue-1);
  --rotate-2: var(--blue-2);
  --rotate-3: var(--blue-3);
}

html, body {
  color: var(--base);
  background-color: var(--base-background);
  font-family: "Figtree", "Roboto Flex", sans-serif;
  font-size: 30px;
  font-weight: 300;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

hr {
  border: 1px solid var(--hr);
}

b {
  font-weight: 500;
}

br.extended {
  line-height: 2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.blue-1 {
  color: var(--blue-1);
}

.blue-2 {
  color: var(--blue-2);
}

.blue-3 {
  color: var(--blue-3);
}

.blue-4 {
  color: var(--blue-4);
}

.blue-5 {
  color: var(--blue-5);
}

.font-sm {
  font-size: 24px;
}

.hidden {
  display: none;
}

.container-outer {
  display: table;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  .container-middle {
    display: table-cell;
    vertical-align: middle;

    .container-inner {
      background-color: var(--base-background);
      background-attachment: fixed;
      box-shadow: 0px 0px 10px 10px var(--shadow);
      height: 100dvh;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      max-height: 930px;
      max-width: 450px;
      position: relative;
    }
  }
}

#background {
  height: 100%;
  position: absolute;
  width: 100%;

  ul {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  h1 {
    font-size: 2rem;
  }
}


#backward, #forward {
  height: 100%;
  position: absolute;
  top: 0px;
}

#backward {
  left: 0px;
  width: 35%;
  z-index: 2;
}

#forward {
  right: 0px;
  width: 65%;
  z-index: 2;
}

.meters-container {
  display: flex;
  height: 3px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 5px;
  width: calc(100% - 3px);
  z-index: 1;
}

.meter {
  background: var(--meter-before);
  border-radius: 3px;
  flex-grow: 1;
  margin-left: 3px;
}

.meter span {
  display: block;
  height: 100%;
}

.progress-done {
  border-radius: 3px;
  background-color: var(--meter-after);
}

.progress-active {
  animation: progressBar 10s linear;
  animation-fill-mode: both;
  border-radius: 3px;
  background-color: var(--meter-after);
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.slide {
  height: calc(100% - 18px);
  left: -9999px;
  padding: 13px 5px 5px 5px;
  position: absolute;
  text-align: center;
  top:-9999px;
  width: calc(100% - 10px);

  &.active {
    left: unset;
    position: relative;
    top: unset;
  }

  table {
    width: 100%;

    &.two-columned {
      td:nth-child(1) {
        padding-right: 5px;
        text-align: right;
      }

      td:nth-child(2) {
        padding-left: 5px;
        text-align: left;
      }

      &.split-33-66 {
        td:nth-child(1) { width: 33% }
        td:nth-child(2) { width: 66% }
      }

      &.split-40-60 {
        td:nth-child(1) { width: 40% }
        td:nth-child(2) { width: 60% }
      }
    }

    &#dual-meet-scores {
      margin: auto;
      max-width: 95%;
    }
  }
}

.slide-content {
  left: calc(50%);
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 20px);

  &.wide {
    left: 50%;
    margin: 0px;
    width: 100%;
  }
}

.rotate-colors {
  .color:nth-child(3n) {
    color: var(--rotate-1);
  }

  .color:nth-child(3n + 1) {
    color: var(--rotate-2);
  }

  .color:nth-child(3n + 2) {
    color: var(--rotate-3);
  }
}
